* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #eaf0fb;
  backdrop-filter: blur(5px);
  background-image: url("code.jpg");
}

.inFormBackground {
  margin: 0rem 2rem;
}

.inFormBackground,
.inLoginForm {
  width: 25rem;
  height: 25rem;
  max-width: 320px;
  position: relative;
}


.inLoginForm form {
  top: 50%;
  left: 50%;
  width: 20rem;
  height: 30rem;
  max-width: 320px;
  position: absolute;
  padding: 50px 35px;
  backdrop-filter: blur(5px);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 3px rgba(8, 7, 16, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #FFF9FB;
  border-radius: 6px;
}

form * {
  border: none;
  outline: none;
  color: #000000;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 22px;
  text-align: center;

}

.inputGroup label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}

.inputGroup input {
  width: 92%;
  height: 40px;
  display: block;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px;
  background-color: #D3D4D9;
}
::placeholder {
  color:#000000
}
.submitForm {
  width: 100%;
  z-index: 1;
  margin-top: 15px;
  color: #FFF9FB;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  background: #4B88A2;
}

.submitForm:hover {
  color: #45538e;
}

form .content{
  display: flex;
  align-items: left;
  justify-content: left;
  margin: auto;
}

form .content input{
  width: 15px;
  height: 15px;
  background: red;
  margin: auto;
}

form .content{
  display: flex;
  padding-top: 1px;
}
form .remember-me {
  padding-top: 20px;
}
form .content label{
  color: #000000;
  user-select: none;
  padding-top: 20px;
  margin: auto;
  justify-content: flex-start;
}

form .pass-link{
  display: flex;
  margin: auto;
  padding-top: 10px;
  justify-content: right;
}

form .signup-link{
  color: #121212;
  margin-top: 20px;
  text-align: center;
}

form .body-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-weight: 600;
}

hr .divider {
  height: 30px;
}

.social {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.social div {
  width: 6rem;
  height: 3rem;
  display: flex;
  cursor: pointer;
  color: #D3D4D9;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  background-color: rgba(127, 124, 124, 0.27);
}

.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
  margin-left: 25px;
}

.social .tw {
  margin-left: 25px;
}

form .pass-link a,
form .signup-link a{
  color: #1635cd;
  text-decoration: none;
}

form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: underline;
}